*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background-image: url("TranscodedWallpaper.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
}
.cardLogin{
    width: 350px;
    height: 450px;
    background-color: white;
    padding: 50px;
}
